<!DOCTYPE html>
<html lang="en">

    <% include partials/page/head.ejs %>

	<body>

	<% include partials/page/nav.ejs %>

      <div class="wrapper">
      <% blog.blog_posts.forEach(function(item) { %>
        <% if(item.animate != "") { } else { ""} %>
          <div class="content <%= item.size %> <%= item.animate %>" id="" >
            <div class="imageShow imageShowhov"><img src="<%= item.img %>"></div>
            <h1><%= item.title %></h1>
            <p><%= item.description %></p>
            <small class="timestamp"><%= item.date %></small>
          </div>
      <% }); %>
      </div>
  	<% include partials/page/jsdefault.ejs %>
  	<% include partials/page/scripts.ejs %>

  </body>
</html>
