<!DOCTYPE html>
<html lang="en">

    <% include partials/page/head.ejs %>

	<body class="<%= classname %>">

	<% include partials/page/nav.ejs %>

  <% playground.playground_posts.forEach(function(item) { %>
    <div class="content">
      <div class="imageShow imageShowhov">
        <a href="<%= item.url %>" target="_blank"><img src="<%= item.img %>"></a>
      </div>
      <h2><%= item.title %></h2>

      <p><%= item.description %></p>
    </div>
  <% }); %>


	<div class="foot">
		<% include partials/page/footer.ejs %>
	</div>

  	<% include partials/page/jsdefault.ejs %>
  	<% include partials/page/scripts.ejs %>

  </body>
</html>
